#welcome-section {
    height: 100vh;
    overflow: auto;
}

#projects {
    background-color: darkgray;
}

#profile-link {
    background-color: darkgray;
    font-family: 'Montserrat', sans-serif;
    color: #222222;
    font-size: 25px;
}
h1 {
display: flex;
justify-content: space-evenly;
font-size: 60px;
font-family: 'Montserrat', sans-serif;
color: #222222;
}

h2 {
    display: flex;
    justify-content: space-evenly;
    font-size: 35px;
    font-family: 'Pacifico', cursive;
color: darkslateblue;
}

h3 {color: #222222;
    font-size: 50px;
    font-family: 'Montserrat', sans-serif;
}

nav
{font-family: 'Pacifico', cursive;
   position: fixed;
   top: 0px;
   width: 100%;
}

ul {
    font-family: 'MuseoModerno', cursive;
   list-style-type: none;
   margin: 10;
   padding: 0;
   display: flex;
   justify-content: flex-end;
   background-color: aquamarine;

}

li {
   float: right;
   font-size: 20px;
   font-family: 'MuseoModerno', cursive;
}

li a {
    display:block;
    text-align: right;
    padding: 10px 40px;
    text-decoration: black;
}

body {
    background-color: lightgrey;
}

footer {
    font-family: 'Montserrat', sans-serif;
    color: #222222;
    background-color: aquamarine;
}

@media screen {
    body {
        width: 75%;
    }

}

@media print {
    body {
        width: 100%;
    }
}