#welcome-section {
    height: 100vh;
    overflow: auto;
}

#projects {
    background-color: darkgray;
}

#profile-link {
    margin: 25px 20px 25px 20px;
  display: flex;
  justify-content: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 25px;
  border: 1px solid black;
  background-color:  #b19cd9;
}

#social-media {
    display: flex;
    justify-content: space-evenly;
    padding: 20px;
}

header {
    padding: 10px;
    margin: 60px 0px 0px 400px;
    width: auto; 
    height: 100px;
    }

#logo {
    height:100px;
    width: auto;
}

.row {
    display: flex;
  }
  
  .column {
    flex: 50%;
    padding: 10px;
  }

h1 {
display: flex;
justify-content: space-evenly;
font-size: 60px;
font-family: 'Montserrat', sans-serif;
color: #222222;
padding: 60px 0px 20px 0px;
}

h2 {
    display: flex;
    justify-content: space-evenly;
    font-size: 35px;
    font-family: 'Pacifico', cursive;
color: darkslateblue;
padding: 0px;
}

h3 {color: #222222;
    font-size: 50px;
    font-family: 'Montserrat', sans-serif;
    display: flex;
justify-content: space-evenly;
padding: 35px;
}

nav
{font-family: 'Pacifico', cursive;
   position: fixed;
   top: 0px;
   width: 100%;
}

ul {
    font-family: 'MuseoModerno', cursive;
   list-style-type: none;
   margin: 10;
   padding: 0;
   display: flex;
   justify-content: flex-end;
   background-color: aquamarine;

}



#planets {
    margin: 10;
    padding: 5;
    display: flex;
    justify-content: center;
    max-width: 1250px;

}


#characters {
    margin: 10;
    padding: 5;
    display: flex;
    justify-content: center;
    max-width: 1250px;
}
li {
   float: right;
   font-size: 20px;
   font-family: 'MuseoModerno', cursive;
}

li a {
    display:block;
    text-align: right;
    padding: 10px 40px;
    text-decoration: black;
}

body {
    background-color: lightgrey;
}

footer {margin: 20px 20px 0px 20px;
    display: flex;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    border: 1px solid black;
    background-color: aquamarine;

}

@media screen {
    body {
        width: 100%;
    }

}

@media print {
    body {
        width: 100%;
    }
}